
body {
    background: #298eea;
    font-family: 'Roboto', helvetica, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 60px;
}

body * {
    box-sizing: border-box;
}

.logo {
    display: block;
    height: 35px;
    width: auto;
    margin: 0 auto 30px;
}


.signup-form {
    margin: 0 auto;
    min-width: 400px;
    max-width: 10em;
    padding: 40px;
    border-radius: 3px;
    background: white;
}

.signup-form legend {
    text-align: center;
    font-weight: 300;
    color: #565656;
    margin: 0 auto 45px;
    font-size: 2.1875em;
    line-height: 1;
    letter-spacing: 0;
}

/* button ultimately ultimately gets a different background
color below, but because it largely overlaps with email/password
input styling, we include it in the same style block, then
override, below. */
input[type='email'],
input[type='password'],
button[type='submit'] {
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: .5em auto;
    padding: 15px;
    width: 100%;
    display: block;
    border-radius: 3px;
    font-size: 1.125em;
    transition: opacity 0.4s;
    text-align: left;
    height: auto;
}

input[type='email']:focus,
input[type='password']:focus,
button[type='submit']:focus {
    border-color: #E7E7E7;
    box-shadow: none;
}

button[type='submit'] {
    color: white;
    background: #15CD72;
    border: 0;
    font-weight: 500;
    font-size: 1.375em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    height: auto;
}

button:hover[type='submit'] {
    background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.signup-form p {
    font-size: .875em;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    color: #999;
}

.signup-form a {
    text-decoration: none;
    color: #999;
    border-bottom: 1px solid #bbb;
}

.signup-form a:hover {
    border-color: #999;
    color: #777;
}

/* footer */
.footer {
    text-align: center;
    color: white;
    margin: 20px auto;
    font-weight: 600;
    border: 0;
    padding: 0;
}

.footer a {
    color: white;
}

.footer a:hover { color: #E7F1F9 }

.footer p { margin-bottom: 40px }
